<form
  [formGroup]="editForm"
  class="mx-auto w-[500px] space-y-4"
  (ngSubmit)="onSubmit()"
>
  <div class="form-holder">
      <label for="quantity_form">Quantity</label><br />
    <input
      id="quantity_form"
      type="number"
      inputmode="numeric"
      formControlName="quantity"
    />
  </div>
  <div class="form-holder">
     <label for="price">Premium</label><br />
    <input
      id="price"
      type="number"
      inputmode="numeric"
      formControlName="premiumPrice"
    />
  </div>
  <div class="form-holder">
      <label for="pertamaxPrice">Pertamax</label><br />
    <input
      id="pertamaxPrice"
      type="number"
      inputmode="numeric"
      formControlName="pertamaxPrice"
    />
  </div>

  <button class="button" type="submit" onclick="onsubmit">Save</button>
</form>
